header {
  background-color: black;

  nav {
    margin-bottom: 0;
    .nav-link {
      color: azure;
    }

    .navbar-toggler {
      background-color: azure;
    }

    .navbar-brand {
      color: azure;
    }
  }

}
